<h1>{{post.animalGenderMale}}</h1>
<h1>{{post.animalSpecies}}</h1>
<h1>{{post.animalPic}}</h1>
<h1>{{post.animalFeatures}}</h1>
<h1>{{post.foundStreet1}}</h1>
<h1>{{post.foundStreet2}}</h1>
<h1>{{post.personName}}</h1>
<h1>{{post.personEmail}}</h1>
 {{!-- id INT(11) AUTO_INCREMENT PRIMARY KEY,
  latitude FLOAT(10,6) NOT NULL,
  longitude FLOAT(10,6) NOT NULL,
  animalSpecies VARCHAR(255),
  animalGenderMale BOOLEAN DEFAULT true,
  animalPic VARCHAR(255),
  animalFeatures VARCHAR(255),
  foundStreet1 VARCHAR(255),
  foundStreet2 VARCHAR(255),
  personName VARCHAR(255),
  personEmail VARCHAR(255),
  foundDate VARCHAR(255) --}}